<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index
        link(href="css/style.css",rel="stylesheet")
    body
        .main
            .nav
                .nav-content
                    a.logout(href="/logout") 注销
            .info
                script.
                    document.writeln('hostname:<div class="hostname">'+location.hostname+'</div>');
        script(src="lib/jquery.min.js")