<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .login-box
            .row
                label.key(for="") 用户名
                input.input#tbUsername 
            .row
                label.key(for="") 密码
                input.input#tbPassword(type="password")
            .row
                button.btn#btnLogin 登录
        script(src="lib/jquery.min.js")
        script.
            $(function(){
                $("#btnLogin").click(function(){
                    $.ajax({
                        url:'/login',
                        data:{
                            username:$('#tbUsername').val(),
                            password:$('#tbPassword').val()
                        },
                        type:'post',
                        dataType:'json',
                        success:function(res){
                            if(res.retCode == '1'){
                                location.href = '/';
                            }else{
                                alert(rest.retMsg);
                            }
                        }
                    });
                });
            });