<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
        link(href="css/style.css",rel="stylesheet")
    body
        .main
            .login-box
                .row
                    label.key(for="tbUsername") 用户名：
                    input.input#tbUsername 
                .row
                    label.key(for="tbPassword") 密码：
                    input.input#tbPassword(type="password")
                .row.mt-40
                    label.key
                    button.btn#btnLogin 登 录
        script(src="lib/jquery.min.js",type="text/javascript")
        script(type="text/javascript").
            $(function(){

                $(document).on('keyup',function(e){
                    if(e.keyCode == '13'){
                        submit();
                    }
                });

                $("#btnLogin").click(submit);

                function submit(){
                    $.ajax({
                        url:'/login',
                        data:{
                            username:$('#tbUsername').val(),
                            password:$('#tbPassword').val()
                        },
                        type:'post',
                        dataType:'json',
                        success:function(res){
                            if(res.retCode == 1){
                                var url = '/';
                                if(res.sso_url){
                                    url = res.sso_url + '?ticket='+res.ticket+'&backurl='+res.backurl
                                }else{
                                    location.href = url;
                                }
                            }else{
                                alert(res.retMsg);
                            }
                        }
                    });
                }
            });